<!DOCTYPE html>
<html>
<head>
    <title>Register - Calendar</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <div id="window-background" class="window-background">
        <div id="register-window" class="window">
            <h2>Register</h2>
            <form action="/api/v1/user/register" method="POST" >
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" value="Register">
            </form>
            {{#error}}<span class="error">{{error}}</span><br/>{{/error}}
        </div>
    </div>
</body>
</html>
